@media only screen and (max-width: 500px){
  /*General styling*/
 .media-buttons {
    position: relative;
    top: 73%;
    left: 7.5%;
}
.media-buttons img {
   width: 60px;
   height: 60px;
   border-radius: 15%;
   margin: 5px;
}
  .big-text{
    font-size: 25px;
    margin: 1px;
    color: white;
  }
  .little-text{
    color: black;
    font-size: 22px;
    margin: 1px;
    margin-bottom: 5px;
    margin-right: 100px;
  }
  .section{
    height: 100%;
  }
  .thrivestore-link2{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 17px 15px 17px 15px;
    background: black;
    vertical-align: middle;
    margin-top: 10px;
  }
  .thrivestore-link3{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 17px 15px 17px 15px;
    background: black;
    vertical-align: middle;
    margin-top: -30px;
  }

.s2-closebtn {
   width: 45px;
   height: 45px;
   margin-bottom: -220px;
}
 .s3-closebtn {
   width: 45px;
   height: 45px;
   margin-bottom: -120px;
}
  .thrivestore-link {
    position: relative;
    top: 80%;
    font-size: 15px;
    width: 150px;
    padding: 5px 5px 5px 5px;
    margin-top: 1000px;
  }

  /*Section one styling*/
  .section1{
    background-image: url("../resources/mobPage1.png");
  }
  .section1-logo{
    width: 100px;
    margin-bottom: 5px;
  }
  .section1-textbox{
    position: absolute;
    top: 43%;
    left: 50%;
    margin-right: -50%;
    text-align: center;
  }
  /*Section two styling*/
  .section2{
    background-image: url("../resources/mobPage2.png");
  }
  .section2-textbox{
    transition: none;
    left: 6%;
    top: 125%;
  }
  .s2-readMore {
    background-image: url("../resources/readMore2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .s2-readMore p {
    font-size: 18px;
    padding: 0% 5% 5% 5%;
    text-align: left;
    line-height: 100%;
    margin-bottom: 50px;
  }
  .s2-readMore h2 {
    text-align: left;
    font-size: 30px;
    margin-top: -200px;
    margin-right: 80px;
  }
  .section2-button, .section3-button {
    font-size: 24px;
    transition: 1s;
    width: 100px;
    border-top: 33px solid rgba(0, 0, 0, 0.8);
    border-left: 30px solid transparent;
  }
  .section2-button span{
    top: -33px;
  }
  /*Section three styling*/
  .section3{
    background-image: url("../resources/mobPage3.png");
  }
  .section3-textbox{
    left: 6%;
    top: 235%;
    transition: none;
  }
  .section3-button span{
    position: absolute;
    top: -33px;
  }
  .s3-readMore p {
    font-size: 18px;
    padding: 0% 5% 5% 5%;
    text-align: left;
    line-height: 100%;
    /*margin-bottom: -20px;*/
  }
  .s3-readMore h2 {
    text-align: left;
    font-size: 30px;
    margin-bottom: -20px;
    margin-top: -130px;
    margin-right: 80px;
  }
  .s3-readMore {
    background-image: url("../resources/readMore3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section5{
    background-image: url("../resources/mobile/5text.png");
  }
}
