@media only screen and (max-width: 500px){
  /*General styling*/
 .media-buttons {
    position: absolute;
    top: 73%;
    left: 7.5%;
}
.media-buttons img {
   width: 60px;
   height: 60px;
   border-radius: 15%;
   margin: 5px;
}
  .big-text{
    font-size: 25px;
    margin: 1px;
    color: white;
  }
  .little-text{
    color: black;
    font-size: 22px;
    margin: 1px;
    margin-bottom: 5px;
    margin-right: 100px;
  }
  .section{
    height: 100%;
  }

  /*Section one styling*/
  .section1{
    background-image: url("../resources/mobPage1.png");
  }
  .section1-logo{
    width: 100px;
    margin-bottom: 5px;
  }
  .section1-textbox{
    position: absolute;
    top: 43%;
    left: 50%;
    margin-right: -50%;
    text-align: center;
  }
  /*Section two styling*/
  .section2{
    background-image: url("../resources/mobPage2.png");
  }
  .thrivestore-link2{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 10px 15px 10px;
    background: black;
    vertical-align: middle;
    margin-top: 25%;
    margin-bottom: 3%;
  }
   .s2-closebtn {
      width: 45px;
      height: 45px;
      margin-bottom: -10%;
   }
  .section2-textbox{
    transition: none;
    left: 6%;
    top: 25%;
  }
  .s2-readMore {
    background-image: url("../resources/mobile/readMore2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .s2-readMore p {
    font-size: 16px;
    padding: 0% 5% 0% 5%;
    text-align: left;
    line-height: 150%;
    margin-left: 15px;
    margin-right: 15px;

  }
  .s2-readMore h2 {
    margin-top: 10%;
    text-align: left;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .section2-button, .section3-button {
    font-size: 24px;
    transition: 1s;
    width: 100px;
    border-top: 33px solid rgba(0, 0, 0, 0.8);
    border-left: 30px solid transparent;
  }
  .section2-button span{
    top: -33px;
  }
  /*Section three styling*/
  .section3{
    background-image: url("../resources/mobPage3.png");
  }
  .thrivestore-link3{
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 15px 10px 15px 10px;
    background: black;
    vertical-align: middle;
    margin-top: 25%;
  }
  .s3-closebtn {
    width: 45px;
    height: 45px;
    margin-bottom: -7%;
    margin-top: -7%;
}
  .section3-textbox{
    left: 6%;
    top: 35%;
    transition: none;
  }
  .section3-button span{
    position: absolute;
    top: -33px;
  }
  .s3-readMore p {
    font-size: 16px;
    padding: 0% 5% 0% 5%;
    text-align: left;
    line-height: 150%;
    margin-top: 5px;
  }
  .s3-readMore h2 {
    text-align: left;
    font-size: 22px;
    margin-top: 5%;

  }
  .s3-readMore {
    background-image: url("../resources/mobile/readMore3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .section5{
    background-image: url("../resources/mobile/5text.png");
  }
}
