h6 {
   font-size: 32px;
   margin-left: 40px;
   margin-top: -7px;
}

a {
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #fff;
   font-size: 15px;
   text-decoration: none;
   text-transform: uppercase;
}
.menu2 {
   color: black;
   background-image: url("../img/web/readMore2.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
   left: -30%;  /* start off behind the scenes */
   height: 100%;
   position: fixed;
   width: 30%;
}

.menu3 {
   background-image: url("../img/web/readMore3.png");
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
   left: -30%;  /* start off behind the scenes */
   height: 100%;
   position: fixed;
   width: 30%;
}
.push-text {
   font-size: 26px;
   margin-bottom: 30px;
}
.pushout-text {
   color: black;
   margin: 40px;
   font-size: 22px;

}

.thrivestore-button {
   background-color: black;
   width: 200px;
   top: 83%;
   left: 25%;
   position: absolute;
}
.button-close2, .button-close3 {
   top: 92%;
   left: 43%;
   width: 40px;
   height: 40px;
   position: absolute;
   background-image: url("../img/icons/closeBtn.svg");
   cursor: pointer;
}



.pushout-menu2 {
  background-image: url("../img/web/2.png");
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 0.7;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}

.pushout-menu3 {
  background-image: url("../img/web/3.png");
  height: 100%;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.readmore-button2 {
   background-image: url("../img/icons/button2.png");
   background-size: cover;
  color: transparent;
  cursor: pointer;
  width: 175px;
  height: 28px;
  font-size: 16px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-top: 5px;
  left: 8%;
  top: 59%;
  position: absolute;
}
.readmore-button2:hover{
   transition: 1s;
   background: rgba(0, 0, 0, 0);
   color: black;
}
 .readmore-button3 {
    background-image: url("../img/icons/button2.png");
   background-size: cover;
   color: transparent;
    cursor: pointer;
    width: 175px;
    height: 28px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-top: 5px;
    left: 5%;
    top: 105%;
    position: absolute;
}
.readmore-button3:hover{
   transition: 0.5s;
   background: rgba(0, 0, 0, 0);
   color: black;
}

/* IPHONE */
@media only screen and (max-width: 500px) {
   .pushout-menu2 {
     background-image: url("../img/mobile/2.png");
}
.menu2, .menu3 {
   color: black;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
   left: -400px;  /* start off behind the scenes */
   height: 100%;
   position: fixed;
   width: 400px;
}
/*.menu3 {
   color: black;
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-position: center center;
   position: relative;
   left: -400px;
   height: 100%;
   position: fixed;
   width: 400px;
}*/
   .pushout-menu3 {
     background-image: url("../img/mobile/3.png");
}



.overlay-back {
    width: 0px;
}

.thrivestore-button {
   background-color: black;
   width: 150px;
   height: 40px;
   top: 83%;
   left: 25%;
   position: absolute;
}



/* IPAD */
@media only screen and (max-width: 1100px) {


}
