body{
  font-family: 'Muli', sans-serif;
  margin: 0;
}

.media-buttons {
   position: absolute;
   top: 50%;
   left: 16%;
}
.media-buttons img {
   width: 80px;
   height: 80px;
   margin: 25px;
   border-radius: 10%;
}
.section{
  height: 100%;
  width: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.big-text{
  font-size: 45px;
  margin: 1px;
  color: white;
}
.big-text span{
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0px 5px 0px 5px;
}
.little-text{
  color: black;
  font-size: 32px;
  margin: 1px;
  margin-bottom: 5px;
}
.section1{
  background-image: url('../resources/webPage1.png');
  transition: 0.5s;
}
.section1-textbox{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.section1-logo{
  width: 200px;
  margin-bottom: 10px;
}
.scroll-icon span {
  position: absolute;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-animation: scrollDown 5s infinite;
  animation: scrollDown 5s infinite;
  box-sizing: border-box;
}
.scroll-icon1 span{
  top: 85%;
}
.scroll-icon2 span{
  top: 185%;
}
.scroll-icon3 span{
  top: 285%;
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotateY(0) rotateZ(-45deg) translate(0, 0);
    opacity: 0.1;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotateY(720deg) rotateZ(-45deg) translate(-40%, 40%);
    opacity: 0;
  }
}
.section2{
  background-image: url('../resources/webPage2.png');
  transition: 0.5s;
}
.section2-textbox{
  position: absolute;
  left: 6%;
  top: 30%;
  text-align: left;
  transition: 0.5s;
}
.section2-button{
  cursor: pointer;
  color: white;
  font-size: 26px;
  transition: 1s;
  margin-left: 1px;
  width: 110px;
  height: 0;
  position: relative;
  border-top: 40px solid rgba(0, 0, 0, 0.8);
  border-left: 30px solid transparent;
  box-sizing: content-box;
}
.section2-button span{
  position: absolute;
  top: -36px;
}
@media only screen and (min-width: 500px){
  .section2-button:hover{
    border-top: 40px solid transparent;
    color: black;
  }
}
.thrivestore-link2{
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 13px 10px 13px 10px;
  background: black;
  vertical-align: middle;
  margin-top: 20%;
  margin-bottom: 10%;
}
.thrivestore-link3{
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 13px 10px 13px 10px;
  background: black;
  vertical-align: middle;
  margin-top: 15%;
  margin-bottom: 10%;
}
.s2-closebtn {
  background-image: url("../resources/closeBtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  margin-bottom: 5%;
}
.s2-readMore p {
  font-size: 20px;
  padding: 0% 5% 0% 5%;
  text-align: left;
  line-height: 150%;
}
.s2-readMore h2 {
  padding: 0% 5% 0% 5%;
  text-align: left;
  align-self: left;
}
.s2-readMore {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 100%;
  left: 0;
  overflow-x: hidden;
  transition: opacity 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  opacity: 0;
  background-image: url("../resources/testimg.jpg");
  background-position: center;
  background-size: cover;
}
.s2-shade-layer{
  height: 100%;
  width: auto;
  opacity: 0;
  background-color: black;
  transition: 0.5s, transform 5s;
}
.section3{
  background-image: url('../resources/webPage3.png');
  transition: 0.5s;
}
.section3-textbox{
  position: absolute;
  left: 66%;
  top: 30%;
  text-align: left;
  transition: 0.5s;
}
.section3-button{
  cursor: pointer;
  color: white;
  font-size: 26px;
  transition: 1s;
  margin-left: 1px;
  width: 110px;
  height: 0;
  position: relative;
  border-top: 40px solid rgba(0, 0, 0, 0.8);
  border-left: 30px solid transparent;
  box-sizing: content-box;
}
.section3-button span{
  position: absolute;
  top: -36px;
}
@media only screen and (min-width: 500px){
  .section3-button:hover{
    border-top: 40px solid transparent;
    color: black;
  }
}
.s3-readMore p {
  font-size: 20px;
  padding: 0% 5% 0% 5%;
  text-align: left;
  line-height: 100%;
}
.s3-readMore h2 {
  padding: 0% 5% 0% 5%;
  text-align: left;
  align-self: left;
}
.s3-readMore {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 200%;
  left: 0;
  overflow-x: hidden;
  transition: opacity 2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  opacity: 0;
  background-image: url("../resources/testimg.jpg");
  background-position: center;
  background-size: cover;
}
.s3-shade-layer{
  height: 100%;
  width: auto;
  opacity: 0;
  background-color: black;
  transition: 0.5s, transform 5s;
}
.s3-closebtn {
  background-image: url("../resources/closeBtn.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  margin-bottom: 5%;
  cursor: pointer;
}

.section5 {
   background-image: url("../resources/web/5text.png");
}
