<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bringbag - Say Hello to the lifestyle!</title>
   <link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
   <link rel="stylesheet" type="text/css" href="../assets/styles/vue.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
   <div class="logo">
      <a href="/" class="name-logo"><h5>BRINGBAG</h5></a>
   </div>

   <div class="hamburger-menu">

         <div class="burger-icon" id="burger"  onclick="burger(this)" @click="show = !show">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
         </div>

      <transition name="slide-in-right">
         <div class="push-out-menu" v-if="show">
            <ul class="menu-2">
               <li><a class="underline" href="./product.html">Bringbag</a></li>
               <li><a class="underline" href="./shop.html">Butik</a></li>
               <li><a class="underline" href="./about.html">Om företaget Bringbag</a></li>
               <li><a class="underline" href="./faq.html">FAQ - Vanliga frågor?</a></li>
               <li><a class="underline" href="./contact.html">Kontakta oss</a></li>
            </ul>
         </div>
      </transition>
      <transition name="fade-in">
         <div class="push-out-menu-dimmer" v-if="show"></div>
      </transition>
   </div>

   <!-- <div class="menu-hr"></div> -->


   <div class="about-container">
      <div class="text">
         <h4>Om företaget Bringbag</h4>
         <p>Välkommen till Bringbag- Bringbag står för en säkrare, tryggare och en mer attraktiv “touch” till världen.
            Vi är två personer som är glada, aktiva och drivna i företaget Bringbag AB.
            Våra värderingar härstammar ifrån vår värdegrund som innebär kunskap, service och kvalitet. Orden genomsyrar hela vår verksamhet och de utgör tillsammans hela vårt koncept.
         </p>
         <h5>Varför vi startade företaget</h5>
         <p>
            Vår marknad är idag starkt präglad av trender och vi ser ett stort behov av att människor vill ha sina värdesaker i tryggt och säkert förvar.
            Mobiltelefonen och förvaring av kontokort samt ha sina värdesaker samlat på ett och samma ställe är ett starkt och viktigt komplement i människors vardag. Därför har vi från grunden skapat och utvecklat en midjeväska som är unik och säkerhetsanpassad, och med många funktioner bemöter vi i en större utsträckning människornas behov och önskemål. Framförallt tid är något som människor idag prioriterar, och vill därför ha lättåtkomliga och snabba funktioner.
         </p>
      </div>
   </div>


   <div class="profile-container">
      <div class="profile-1">
         <img src="img/personal.png" class="profile-img">
         <h3>Emelie Bringbag</h3>
         <p>Befattning</p>
         <p>Eventuellt mer text om er som personer eller er roll inom företaget</p>
      </div>
      <div class="profile-2">
         <img src="img/personal.png" class="profile-img">
         <h3>Björn Bringbag</h3>
         <p>Befattning</p>
         <p>Eventuellt mer text om er som personer eller er roll inom företaget</p>
      </div>

   </div>



   <script src="https://unpkg.com/vue"></script>
   <script>
   var aboutUs = new Vue({
      el: '.hamburger-menu',
      data: {
         show: false
      }
   });


</script>
<script>
function burger(x) {
    x.classList.toggle("change");
}
</script>
</body>
</html>
