<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bringbag - Say Hello to the lifestyle!</title>
   <link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
   <link rel="stylesheet" type="text/css" href="../assets/styles/vue.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
   <div class="logo">
      <a href="/bringbag/index.html" class="name-logo"><h5>BRINGBAG</h5></a>
   </div>

   <div class="hamburger-menu">

         <div class="burger-icon" id="burger"  onclick="burger(this)" @click="show = !show">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
         </div>


      <transition name="slide-in-right">
         <div class="push-out-menu" v-if="show">
            <ul class="menu-2">
               <li><a href="./product.html">Bringbag</a></li>
               <li><a href="./shop.html">Butik</a></li>
               <li><a href="./about.html">Om företaget Bringbag</a></li>
               <li><a href="./faq.html">FAQ - Vanliga frågor?</a></li>
               <li><a href="./contact.html">Kontakta oss</a></li>
            </ul>
         </div>
      </transition>
      <transition name="fade-in">
         <div class="push-out-menu-dimmer" v-if="show" @click="show = !show"></div>
      </transition>
   </div>

   <!-- <div class="menu-hr"></div> -->


   <div class="faq-container">
      <div class="question-container" @click="q1 = !q1">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q1">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q1">
         <div class="question">VAD ÄR LEVERANSSTID OCH KOSTNAD FÖR UTSKICKET?</div>
         <div class="answer" v-if="q1">1-3 dagar med posten och alltid FRI FRAKT.</div>
      </div>
      <div class="question-container" @click="q2 = !q2">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q2">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q2">
         <div class="question">VAD ÄR PRISET FÖR BRINGBAGEN?</div>
         <div class="answer" v-if="q2">799:-</div>
      </div>
      <div class="question-container" @click="q3 = !q3">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q3">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q3">
         <div class="question">VILKA BETALNINGSMETODER ACCEPTERAR NI?</div>
         <div class="answer" v-if="q3">Kortbetalning, Swich och faktura med Klarna</div>
      </div>
      <div class="question-container" @click="q4 = !q4">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q4">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q4">
         <div class="question">FÅR JAG EN ORDERBEKRÄFTELSE NÄR JAG LAGT MIN ORDER?</div>
         <div class="answer" v-if="q4">Ja, du får ett mejl på din beställning.</div>
      </div>
      <div class="question-container" @click="q5 = !q5">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q5">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q5">
         <div class="question">VAD HAR BRINBAG FÖR FINESSER?</div>
         <div class="answer" v-if="q5">
            <li>Den passar alla typer av smartphones</li>
            <li>Man kan ta av väskan från bältet på ett lätt och smidigt sätt med endast ett knapptryck, och när man använt väskans funktioner kan man lika lätt sätta dit den med ett klick. Man hör klart och tydligt när väskan är fastsatt i bältet igen.</li>
            <li>Kortflärp med stängning av en magnet så man har korten säkert, kortplärpen gör även att den inte avmagnitiserar korten.</li>
            <li>En genomskinlig plastficka för att kunna komma åt sin legitimation lättåtkomligt.</li>
            <li>Magnet och knappsats för säkrare stängning på flärpen.</li>
         </div>
      </div>
      <div class="question-container" @click="q6 = !q6">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q6">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q6">
         <div class="question">VAD HAR BRINGBAG FÖR MATERIAL?</div>
         <div class="answer" v-if="q6">Bringbagen är gjord i kostläder och är svett & vattenavvisande, även veganer anser våran produkt intressant.</div>
      </div>
      <div class="question-container" @click="q7 = !q7">
         <img src="../assets/images/icons/downarrow.png" class="faq-arrow" alt="" v-if="!q7">
         <img src="../assets/images/icons/uparrow.png" class="faq-arrow" alt="" v-if="q7">
         <div class="question">KAN MAN KONTAKTA ER FÖR FLER FRÅGOR OCH NÄR FÅR MAN SVAR?</div>
         <div class="answer" v-if="q7">Ja, givetvis finns vi här för era frågor. Vi besvarar era frågor via vår mejl info@bringbag.se eller via kontaktformuläret i fliken KONTAKTA OSS, snarast möjliga och inom 1 dag.</div>
      </div>
   </div>


   <div class="terms-container">
      <div class="terms-link">För mer information om våra vilkor & info tryck <p class="a-bold" @click="terms = !terms">HÄR.</p></div>
      <transition name="fade">
      <div class="terms" v-if="terms">
         <img src="../assets/images/icons/close.png" class="terms-close" alt="" @click="terms = !terms" v-if="terms" />
         <h4>Villkor och information</h4>

         <h5>Köpvillkor</h5>
         <li>Fri frakt inom Sverige.</li>
         <li>Vid eventuell tvist lovar vi att följa Allmänna Reklamationsnämndens rekommendationer.</li>
         <li>Moms ingår i alla priser med 25%.</li>

         <h5>Leverans och fraktkostnad</h5>
         <li>Inom Sverige är det kostnadsfritt för hantering och frakt.</li>
         <li>För leveranser utanför Sverige debiteras en fraktkostnad beroende på vilken världsdel du skickar till.</li>
         <h5>Leveranstid</h5>
         <li>Vi vill att du ska få din beställning så fort som möjligt. Vi försöker därför skicka dina varor så du har dom levererade inom 1-3 vardagar inom Sverige och Norden. 7-10 vardagar inom EU och 7-14 vardagar till USA, Kanada och Australien.</li>
         <li>Vi behåller oss rätten att leveranstiden kan dra ut på tiden vid lansering eller vid eventuell tullhantering.</li>

         <h5>Annan leveransadress</h5>
         <li>För att få leverans till annan adress underlättar det mycket för oss om ni anger den vid köptillfället.</li>
         <li>Klarnas villkor (gäller självfallet endast vid betalning med Klarna Faktura eller – Konto) kräver att vi levererar beställningen till en adress på vilken du är registrerad.</li>

         <h5>Betalning</h5>
         <p>Bringbag accepterar följande betalsätt genom Klarna som innehar SSL-certifikat för kortbetalningar:</p>
         <h6>Klarna-faktura</h6>
         <li>Vi samarbetar med Klarna AB som erbjuder en tjänst för fakturabetalning. Det innebär att din skuld gentemot oss överförs till Klarna, och att din faktura kommer från Klarna AB.</li>
         <li>Fakturan skickas endast med e-post.</li>
         <li>Betalningsvillkor är 14 dagar netto efter att beställningen skickats från oss.</li>
         <li>För att kunna betala med faktura måste du vara över 18 år samt vara folkbokförd i Sverige.</li>
         <li>Maxbelopp för privatpersoner är 10 000 kr.</li>
         <li>Beställningar som betalas per faktura kan endast skickas till folkbokföringsadressen.</li>
         <li>Vid försenad betalning utgår påminnelseavgift och dröjsmålsränta enligt Klarnas vid var tids gällande villkor, självklart i enlighet med svensk lag.</li>

         <h6>Kortbetalning</h6>
         <li>Kortbetalningarna sköts också av Klarna, vilka uppfyller kraven för PCI DSS som är den gällande säkerhetsstandarden för korttransaktioner och lagring av kortdata. Ingen kortinformation hanteras av oss på Bringbag AB.</li>
         <li>När du gör din beställning reserveras aktuellt belopp på kontot, men pengarna dras aldrig förrän vi skickar varorna.</li>

         <h6>Klarna Konto</h6>
         <li>Klarna Konto är Klarnas tjänst för delbetalningar, så att du kan samla alla dina köp på ett konto hos Klarna.</li>
         <li>I slutet av varje månad kommer en samlad faktura för ditt konto.</li>
         <li>Du kan välja olika avbetalningstider.</li>
         <li>Kreditbeloppet belastas med ränta av Klarna.</li>


         <h5>Ångerrätt</h5>
         <li>Enligt distans- och hemförsäljningsavtalslagen (2005:59) har du som kund ångerrätt i 14 dagar efter att du tagit emot varan ifrån oss.</li>
         <li>Varor som återsändes skall vara oanvända och i originalförpackning.</li>
         <li>Senast 14 dagar efter att varan inkommit till oss betalar vi tillbaka varuvärdet.</li>
         <li>Returer skickas väl emballerade tillsammans med namn, ordernummer och anledning till returen.</li>
         <li>När du returnerar Måste de skickas tillbaka obrutna och i orginalkartong.</li>
         <li>För retur eller ångerrätt så står kunden för kostnaden av frakten. </li>
         <li>Vid eventuell tvist lovar vi att följa Allmänna Reklamationsnämndens rekommendationer.</li>

         <p>
            Trych HÄR för retursedel.
         </p>

         <h5>Reklamation</h5>
         <li>Du som kund har rätt att reklamera en vara om dess egenskaper avviker från det vi utlovat.</li>
         <li>Kontakta vår kundtjänst på info@bringbag.se om du vill reklamera.</li>
         <li>Två månader anses som skälig tid för anmälan.</li>
         <li>Tre års reklamationsrätt gäller enligt Konsumentköplagen.</li>
         <li>Konsumenten ersätts för eventuella fraktkostnader.</li>

         <h5>Kontakt</h5>
         <p>För alla typer av ärenden, kontakta oss på</p>
         <li>E-post: info@bringbag.se</li>
         <p>All inkommande e-post besvaras inom en dag.</p>



      </div>
      </transition>
      <transition name="fade">
      <div class="terms-overlay" v-if="terms" @click="terms = !terms"></div>
      </transition>
   </div>




   <script src="https://unpkg.com/vue"></script>
   <script>
   var aboutUs = new Vue({
      el: '.hamburger-menu',
      data: {
         show: false
      }
   });
   var terms = new Vue({
      el: '.terms-container',
      data: {
         terms: false
      }
   });
   var faq = new Vue({
      el: '.faq-container',
      data: {
         q1: false,
         q2: false,
         q3: false,
         q4: false,
         q5: false,
         q6: false,
         q7: false
      }
   });


</script>
<script>
function burger(x) {
    x.classList.toggle("change");
}
</script>
</body>
</html>
