<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>Bringbag - Say Hello to the lifestyle!</title>
   <link rel="stylesheet" type="text/css" href="../assets/styles/style.css">
   <link rel="stylesheet" type="text/css" href="../assets/styles/vue.css">
   <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
   <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
   <div class="logo">
      <a href="/bringbag/index.html" class="name-logo"><h5>BRINGBAG</h5></a>
   </div>

   <div class="hamburger-menu">

         <div class="burger-icon" id="burger"  onclick="burger(this)" @click="show = !show">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
         </div>

      <transition name="slide-in-right">
      <div class="push-out-menu" v-if="show">
         <ul class="menu-2">
            <li><a class="underline" href="./product.html">Bringbag</a></li>
            <li><a class="underline" href="./shop.html">Butik</a></li>
            <li><a class="underline" href="./about.html">Om företaget Bringbag</a></li>
            <li><a class="underline" href="./faq.html">FAQ - Vanliga frågor?</a></li>
            <li><a class="underline" href="./contact.html">Kontakta oss</a></li>
         </ul>
      </div>
      </transition>
      <transition name="fade-in">
         <div class="push-out-menu-dimmer" v-if="show"></div>
      </transition>
   </div>


      <div class="info-product-container">
         <div class="video-container">
            <div class="video"></div>
         </div>
         <div class="hr"></div>
         <div class="product-container">
            <div class="product-text">
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.   </p>
               <button class="to-store hover"><a href="shop.html"><span>Till butik</span></a></button>
            </div>
            <div class="product-img"></div>
         </div>

      </div>


<script src="https://unpkg.com/vue"></script>
<script>
var aboutUs = new Vue({
   el: '.hamburger-menu',
   data: {
      show: false
   }
});


</script>
<script>
function burger(x) {
    x.classList.toggle("change");
}
</script>
</body>
</html>
