* {
   font-family: comic sans;
   font-size: 14px;
}

body {
   background-image: url("img/7.png");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   min-height: 100%;
}

/* MOVING FISH*/
@keyframes rot {
	from {
		transform: rotate(0deg)
		           translate(-70px)
		           rotate(0deg);
	}
	to {
		transform: rotate(200deg)
		           translate(-70px)
		           rotate(-200deg);
	}
}

/* Jug on table falling over */
  .jug {
    position: absolute;
    bottom:35%;
    left: 50%;
    width: 100px;
    height: auto;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 1.5s linear;
    -moz-animation:spin 1.5s linear;
    animation:vase 1.5s linear;
    animation-fill-mode: forwards;
    content: url(./images/animation/jug.png);

  }
  @-moz-keyframes jug  { 100% { -moz-transform: rotate(80deg); transform-origin: bottom;} }
  @-webkit-keyframes jug { 100% { -webkit-transform: rotate(80deg); transform-origin: bottom;} }
  @keyframes jug { 100% { -webkit-transform: rotate(80deg); transform:rotate(80deg); transform-origin: bottom;} }


/* Table being knocked over */
.table {
 position: absolute;
 bottom: 15%;
 left: 48%;
 zoom: 20%;
 content: url(./images/animation/table.png);
   -webkit-animation:spin 1s linear;
   -moz-animation:spin 1s linear;
   animation:table 1s linear;
   animation-fill-mode: forwards;
   animation-iteration-count: 1;

}
@-moz-keyframes table  { 100% { -moz-transform: rotate(50deg); transform-origin: bottom;} }
@-webkit-keyframes table { 100% { -webkit-transform: rotate(50deg); transform-origin: bottom;} }
@keyframes table { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); transform-origin: bottom;} }

}
@-moz-keyframes spin { 100% { -moz-transform: rotate(90deg); transform-origin: bottom;} }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(90deg); transform-origin: bottom;} }
@keyframes spin { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); transform-origin: bottom;} }

/* Blinking arrow */
.arrow {
   position: absolute;
   left: 85%;
   top: 5%;
}

/* Fade in chatbubbles */
.small {
   bottom: 10%;
   position:absolute;
   left:30px;
   width:15px;
   height:15px;
   background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
   background:-moz-linear-gradient(#2e88c4, #075698);
   background:-o-linear-gradient(#2e88c4, #075698);
   background:linear-gradient(#2e88c4, #075698);
   -webkit-border-radius:15px;
   -moz-border-radius:15px;
   border-radius:15px;
   border: 2px solid black;
}
.medium {
   bottom: 12%;
   position:absolute;
   left:45px;
   width:30px;
   height:30px;
   background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
   background:-moz-linear-gradient(#2e88c4, #075698);
   background:-o-linear-gradient(#2e88c4, #075698);
   background:linear-gradient(#2e88c4, #075698);
   -webkit-border-radius:30px;
   -moz-border-radius:30px;
   border-radius:30px;
   border: 2px solid black;
}
.big {
   bottom: 15.5%;
   left:7%;
   position:absolute;
   width:45px;
   height:45px;
   background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
   background:-moz-linear-gradient(#2e88c4, #075698);
   background:-o-linear-gradient(#2e88c4, #075698);
   background:linear-gradient(#2e88c4, #075698);
   -webkit-border-radius:30px;
   -moz-border-radius:30px;
   border-radius:30px;
   border: 2px solid black;
}
.chatbubblebig {
  position:absolute;
  bottom: 8%;
  left: 4%;
  width:330px;
  padding:25px 25px;
  margin:1em auto 80px;
  text-align:center;
  color:#fff;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
  background:-moz-linear-gradient(#2e88c4, #075698);
  background:-o-linear-gradient(#2e88c4, #075698);
  background:linear-gradient(#2e88c4, #075698);
  -webkit-border-top-left-radius:220px 120px;
  -webkit-border-top-right-radius:220px 120px;
  -webkit-border-bottom-right-radius:220px 120px;
  -webkit-border-bottom-left-radius:220px 120px;
  -moz-border-radius:220px / 120px;
  border-radius:220px / 120px;
  border: 2px solid black;
}

/* Fish bones fading in on page load*/
.fishSkeleton  {
   position: absolute;
   bottom: -3%;
   left: 55%;
   content: url(./images/animation/fish-skeleton.png);
   max-width: 300px;
   max-height: 300px;
}

/* Vase without animation */
.vaseNoAnimation {
position: absolute;
bottom:25%;
left: 50%;
width: 100px;
height: auto;
margin:-60px 0 0 -60px;
content: url(./images/animation/vas.png);
transform: rotate(90deg);
}

/* Vase fading in and falling over*/
.vase {
   position: absolute;
   bottom:35%;
   left: 50%;
   width: 100px;
   height: auto;
   margin:-60px 0 0 -60px;
   -webkit-animation:spin 1.5s linear;
   -moz-animation:spin 1.5s linear;
   animation:vase 1.5s linear;
   animation-fill-mode: forwards;
   content: url(./images/animation/vas.png);
}
@-moz-keyframes vase  { 100% { -moz-transform: rotate(90deg); transform-origin: bottom;} }
@-webkit-keyframes vase { 100% { -webkit-transform: rotate(90deg); transform-origin: bottom;} }
@keyframes vase { 100% { -webkit-transform: rotate(90deg); transform:rotate(90deg); transform-origin: bottom;} }


/* Fish jumping out of fishbowl */
.fish  {
  content: url(./images/animation/fish.png);
   position: absolute;
   top: 70%;
   left: 50%;
   animation: fish 2s linear;
   animation-fill-mode: forwards;
   width: 60px;
   height: 60px;
}
.fishbowl {
  content: url(./images/animation/fishbowl.png);
   position: absolute;
   top: 75%;
   left: 30%;
   width: 100px;
   height: 100px;
}
@keyframes fish {
	from {
		transform: rotate(20deg)
		           translate(-200px)
		           rotate(0deg);
	}
	to {
		transform: rotate(140deg)
		           translate(-150px)
		           rotate(-200deg);
	}
}

/* Table */
.staticTable {
  content: url(./images/animation/statictable.png);
   position: absolute;
   bottom:5%;
   left: 50%;
   width: 250px;
   height: 250px;
 }

 /* Water puddle fading in on page load */
 .waterpuddle {
   content: url(./images/waterpuddle1.png);
    position: absolute;
    bottom:0%;
    left: 45%;
    width: 250px;
    height: 250px;
 }

 /* Broken vase appears */
 .brokenVase {
    position: absolute;
    top: 70%;
    left: 70%;
    width: 120px;
    height: 120px;
    content: url(./images/animation/brokenvase.png);
 }
 /* Tail appears on the floor */
 .tail {
    position: absolute;
    top: 80%;
    left: 60%;
    width: 120px;
    height: 120px;
    content: url(./images/animation/tail.jpg);
 }
 .cabinet {
    position: absolute;
    left: 27%;
    top: 5%;
    content: url(./images/animation/cabinet10.png);
    width: 400px;
    height: auto;
 }
 .cabinet2 {
    position: absolute;
    left: 27%;
    top: 5%;
    content: url(./images/animation/cabinet11.png);
    width: 400px;
    height: auto;
 }
 .noAnimation {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 100px;
    height: auto;
    content: url(./images/animation/vas.png);
 }
 .cat {
   position: absolute;
   bottom: 17%;
   right: 23%;
   width: 120px;
   height: 120px;
   content: url(./images/animation/cat.png);
 }
