.slide1{
  background-image: url("../resources/slideshow/web1.png");
  background-size: 100% 100%;
}
.slide2{
  background-image: url("../resources/slideshow/web2.png");
  background-size: 100% 100%;
}
.slide3{
  background-image: url("../resources/slideshow/web3.png");
  background-size: 100% 100%;
}
.slide4{
  background-image: url("../resources/slideshow/web4.png");
  background-size: 100% 100%;
}
@media only screen and (max-width: 500px){
  .slide1{
    background-image: url("../resources/slideshow/m1.jpg");
    background-size: 100% 100%;
  }
  .slide2{
    background-image: url("../resources/slideshow/m2.jpg");
    background-size: 100% 100%;
  }
  .slide3{
    background-image: url("../resources/slideshow/m3.jpg");
    background-size: 100% 100%;
  }
  .slide4{
    background-image: url("../resources/slideshow/m4.jpg");
    background-size: 100% 100%;
  }
}
